<!-- Profile header -->
<div class="user-profile-header">
    <%= render "profiles/partials/my_profile_header" %>
</div><!-- end profile header -->

<div class="user-profile-body">
    <!-- About section -->
    <div class="user-profile-presentation mb-15">
        <%= render "profiles/partials/user_profile_presentation" %>
    </div><!-- end -->

    <!-- About section -->
    <div class="user-profile-informations mb-15">
        <%= render "profiles/partials/user_profile_informations" %>
    </div><!-- end -->
</div>