<div class="container profile-wrapper">
	<div class="my-profile">
        <%= render "profiles/show_my_profile" %>
    </div>
</div>

<div id="user-profile-presentation-modal" class="c-modal modal fade" data-backdrop="static"></div>

<div id="user-profile-informations-modal" class="c-modal modal fade" data-backdrop="static"></div>

<div id="user-profile-avatar-modal" class="c-modal modal fade" data-backdrop="static"></div>

<div id="new-message-modal" class="c-modal modal fade" data-backdrop="static"></div>
