<div class="card">
    <div class="card-header">
        <div class="pull-left">
            <strong>Langues</strong>
        </div>
        <div class="pull-right">
            <% if is_me?(@profile.user)%>
                <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i> Modifier'), user_language_path(@profile.user), remote: true %>
            <% end %>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="block-content-wrap">
                    
                        <% if @profile.user.language.present? && @profile.user.language.language_items.present? %>
                        
                            <% @profile.user.language.language_items.each do |language_item| %>
                                <span class="language-item"><%= language_item.name %></span>
                            <% end %>
                            
                        
                        <% end %>
                        
                                  
                    </ul>   
                </div>

            </div>
        </div>
    </div>
</div>