<div class="card">
    <div class="card-header">
        <div class="pull-left">
            <strong>Services</strong>
        </div>
        <div class="pull-right">
            <% if is_me?(@profile.user)%>
                <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i> Modifier'), user_service_path(@profile.user), remote: true %>
            <% end %>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="block-content-wrap">
                    <% if @profile.user.service_user.present? && @profile.user.service_user.service_user_items.present? %>
                        <% @profile.user.service_user.service_user_items.each do |service_user_item| %>
                                <span class="service-user-item"><%= service_user_item.service.name %></span>
                            <% end %> 

                    <% end %>  
                </div>

            </div>
        </div>
    </div>
</div>