.collapse.show {
  display: block !important;
  z-index: 9999;
  background-color: white;
  padding: 15px;
}
 @media (max-width: 991px){
	.navbar-collapse {
	  padding-left: 15px ;
	  padding-right: 15px ;
	  margin-left: -15px ;
	  margin-right: -15px ;
	}
}

.navbar-collapse {
  -ms-flex-preferred-size: 100% ;
  flex-basis: 100%;
  -webkit-box-align: center ;
  -ms-flex-align: center ;
  align-items: center ;
}
.navbar-blue .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

li.nav-item {
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}